@layer theme, base, mui, components, utilities;
@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--brand: #61ce70;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--brand);
	--font-sans: var(--font-pjs);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}
html,
body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-pjs), "Plus Jakarta Sans", sans-serif;

	/* Typography Tuning */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: -0.015em; /* Sedikit rapat untuk kesan premium */
	line-height: 1.6; /* Lebih lega untuk keterbacaan */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
